.player-component {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 30%;
  margin-right: 30%;
  /*padding: 50px;*/
  display: block;
}

.player-controls {
  width: 100%;
  padding-left: 17%;
  margin: 0 auto;
}

.btn-group .btn {
  height: $ btn-size;
  width: $ btn-size;
  background-color: transparent;
  color: $ btn-color;
}

.btn-group {
  /*position: fixed;*/
  /*top: 40%;*/
  /*left: 40%;*/
}

.md-select-value.md-select-placeholder {
  color: red !important;
}

.material-icons {
  font-size: 30px !important;
  color: #F9EE05;
}


.moodicons {
  float: right;
}

.userModel {
  padding-top: 100px;
  width: 100%;
  height: 100%;
}
