<div class="app-content">


  <!--<mat-nav-list>-->
    <!--<mat-list-item draggable="true" >-->
      <!--List item 1-->
    <!--</mat-list-item>-->
    <!--<mat-list-item draggable="true" >-->
      <!--List item 2-->
    <!--</mat-list-item>-->
  <!--</mat-nav-list>-->

  <div class="ngx-dnd-container"
       ngxDroppable [model]="orderableList">
    <div class="ngx-dnd-item"
         ngxDraggable>
      BLAH1
    </div>
    <div class="ngx-dnd-item"
         ngxDraggable>
      BLAH2
    </div>
  </div>
</div>
